@{
    Layout = null;
}
@model SecKaliteDb.Models.User

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SecKaliteDb.styles.css" asp-append-version="true" />
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-box {
            width: 100%;
            max-width: 500px;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>

</head>
<body>
       <div class="container form-container">
           <div class="form-box">
             <h2 class="text-center">Giriş Yap</h2>
                    <form asp-action="Giris" method="post">
                        <div class="form-group">
                            <label asp-for="Username">Kullanıcı Adı:</label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" name="Username" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Password">Şifre:</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" name="Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <input type="submit" value="Giriş Yap" class="btn btn-info" />
                            <a href="@Url.Action("Kaydol", "Register")" class="btn btn-secondary">Kayıt Ol</a>
                            <a href="@Url.Action("SifreYenileme", "SifreUnuttum")" class="btn btn-outline-secondary">Şifreyi Unuttun Mu?</a>
                        </div>
                    </form>
                    
                    @if (ViewData.ModelState["Password"]?.Errors.Count > 0)
                    {
                        <div class="alert alert-danger mt-3">
                            Kullanıcı adı veya şifre hatalı!
                        </div>
                    } 
           </div>
       </div>

   @*  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>

